:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header        header"
    "instructions  graph"
    "editor        graph";
}

#instructions {
  grid-area: instructions;
  padding: 1em;
}

#editor {
  grid-area: editor;
}

#graph {
  grid-area: graph;
}

header {
  grid-area: header;
  background-color: #3f51b5;
  display: flex;
  padding: 0em 1em;
}

header > h1 {
  font-size: 1.5em;
}
