<header>
  <h1>Branch and Bound</h1>
</header>

<div id="instructions">
  <p>This page aims to provide an easy to understand visualization of Branch and Bound algorithm</p>
  <p>The linear programming will be calculated using the <a
      href="https://jeronimonunes.github.io/simplex-web/">Simplex</a> and then new restrictions are going to be added to
    make the result integer</p>
  <p>All the calculations are done within your browser page, so, if you close the app while the calculations are
    running, you will loose the progress.</p>
  <p>Down below you may write your Linear Program, use the example as a basis to understand the sintax.
    Simple mathematical expressions like *, +, -, /, are going to be interpreted before running simplex.
  </p>
  <div id="fade-out"></div>
</div>
<div id="editor" class="mat-elevation-z12">
  <h2>Input:</h2>
  <div #editor></div>
</div>
<div *ngIf="error$ | async as error" class="error">{{error}}</div>
<div id="graph">
  <div #graphDiv></div>
  <div>
    <button mat-button mat-raised-button color="primary" (click)="fit()">Fit</button>
    <button mat-button mat-raised-button color="primary" (click)="focusOptimal()" [disabled]="!optimalId">
      Focus optimal
      <ng-container *ngIf="optimal">
        ({{optimal}})
      </ng-container>
    </button>
  </div>
</div>
